{% extends "layouts/main.njk" %}
{% block content %}<div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds"><h1 class="govuk-heading-xl">Your access is not available</h1><p class="govuk-body">This account cannot currently use Move It. Contact an administrator if you think this is a mistake.</p><p class="govuk-body"><a class="govuk-link" href="/login">Return to sign in</a></p></div></div>{% endblock %}
