{% extends "layouts/main.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% block content %}
<div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Choose a new password</h1>
  <p class="govuk-body">For security, replace the temporary password provided by the administrator.</p>
  {% if errors %}{{ govukErrorSummary({ titleText: "There is a problem", errorList: errors }) }}{% endif %}
  <form action="/account/change-password" method="post" novalidate>
    {{ govukInput({ id: "password", name: "password", type: "password", autocomplete: "new-password", label: { text: "New password", classes: "govuk-label--m" }, hint: { text: "Use at least 12 characters." }, errorMessage: { text: errorMessage } if errorMessage }) }}
    {{ govukButton({ text: "Save password" }) }}
  </form>
</div></div>
{% endblock %}
