{% extends "layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = ("Error: " if errors else "") + "Change your password - Move It" %}

{% block beforeContent %}<a class="govuk-back-link" href="/account">Back</a>{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Change your password</h1>

      {% if errors %}
        {{ govukErrorSummary({ titleText: "There is a problem", errorList: errors }) }}
      {% endif %}

      <form action="/account/change-password" method="post" novalidate>
        {{ govukInput({
          id: "currentPassword",
          name: "currentPassword",
          type: "password",
          autocomplete: "current-password",
          label: { text: "Current password", classes: "govuk-label--m" },
          errorMessage: { text: errorMessage } if errorField == "currentPassword"
        }) }}

        {{ govukInput({
          id: "newPassword",
          name: "newPassword",
          type: "password",
          autocomplete: "new-password",
          label: { text: "New password", classes: "govuk-label--m" },
          hint: { text: "Use 12 or more characters, including an uppercase letter, number and symbol." },
          errorMessage: { text: errorMessage } if errorField == "newPassword"
        }) }}

        {{ govukInput({
          id: "confirmPassword",
          name: "confirmPassword",
          type: "password",
          autocomplete: "new-password",
          label: { text: "Confirm new password", classes: "govuk-label--m" },
          errorMessage: { text: errorMessage } if errorField == "confirmPassword"
        }) }}

        {{ govukButton({ text: "Change password" }) }}
      </form>
    </div>
  </div>
{% endblock %}
