{% extends "layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = ("Error: " if errors else "") + "Sign in - Move It" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sign in</h1>
      {% if errors %}
        {{ govukErrorSummary({ titleText: "There is a problem", errorList: errors }) }}
      {% endif %}
      <p class="govuk-body">Move It is for approved members. If you do not have an account, request access.</p>
      <form action="/login" method="post" novalidate>
          {{ govukInput({
            id: "email",
            name: "email",
            type: "email",
            value: values.email,
            autocomplete: "email",
            label: { text: "Email address", classes: "govuk-label--m", isPageHeading: false },
            errorMessage: { text: errorMessage } if errorField == "email"
          }) }}
          {{ govukInput({
            id: "password",
            name: "password",
            type: "password",
            autocomplete: "current-password",
            label: { text: "Password", classes: "govuk-label--m", isPageHeading: false },
            hint: { text: "Use at least 12 characters, including an uppercase letter, number and symbol." },
            errorMessage: { text: errorMessage } if errorField == "password"
          }) }}
          {{ govukButton({ text: "Sign in" }) }}
      </form>
      <p class="govuk-body"><a class="govuk-link" href="/request-access">Request access</a></p>
      <p class="govuk-body"><a class="govuk-link" href="/">Return to the homepage</a></p>
    </div>
  </div>
{% endblock %}
