{% extends "layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% set pageTitle = ("Error: " if errors else "") + "Sign in - Move It" %}
{% set emailError = fieldErrors.email if fieldErrors else (errorMessage if errorField == "email" else null) %}
{% set passwordError = fieldErrors.password if fieldErrors else (errorMessage if errorField == "password" else null) %}

{% block beforeContent %}<a class="govuk-back-link" href="/" onclick="history.back(); return false;">Back</a>{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sign in</h1>
      {% if errors %}
        {{ govukErrorSummary({ titleText: "There is a problem", errorList: errors }) }}
      {% endif %}
      <form action="/login" method="post" novalidate>
          {{ govukInput({
            id: "email",
            name: "email",
            type: "email",
            value: values.email,
            autocomplete: "email",
            label: { text: "Email address", classes: "govuk-label--m", isPageHeading: false },
            errorMessage: { text: emailError } if emailError
          }) }}
          {{ govukPasswordInput({
            id: "password",
            name: "password",
            autocomplete: "current-password",
            label: { text: "Password", classes: "govuk-label--m", isPageHeading: false },
            errorMessage: { text: passwordError } if passwordError,
            button: { classes: "app-password-toggle" }
          }) }}
          {{ govukButton({ text: "Sign in" }) }}
      </form>
      <p class="govuk-body"><a class="govuk-link" href="/request-access">Request access</a></p>
    </div>
  </div>
{% endblock %}
