{% extends "layouts/main.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = "Password changed - Move It" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({ titleText: "Password changed" }) }}
      <p class="govuk-body"><a class="govuk-link" href="/account">Return to your account</a></p>
    </div>
  </div>
{% endblock %}
