{% extends "layouts/main.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = "Leave team - Move It" %}
{% block beforeContent %}{{ govukBackLink({ href: "/teams/manage", text: "Back" }) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Leave {{ team.name }}?</h1>
      {{ govukWarningText({
        text: "You will no longer be a member of this team. Your account and submitted activities will not be deleted.",
        iconFallbackText: "Warning"
      }) }}
      <form action="/teams/leave" method="post">
        {{ govukButton({ text: "Leave team", classes: "govuk-button--warning" }) }}
      </form>
      <p class="govuk-body"><a class="govuk-link" href="/teams/manage">Cancel</a></p>
    </div>
  </div>
{% endblock %}
