{% extends "layouts/main.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = ("Error: " if errors else "") + team.name + " - Teams - Move It" %}
{% block beforeContent %}{{ govukBackLink({ href: "/teams", text: "Back" }) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Team</span>
      <h1 class="govuk-heading-xl">{{ team.name }}</h1>

      {% if errors %}{{ govukErrorSummary({ titleText: "There is a problem", errorList: errors }) }}{% endif %}

      {% if canJoin %}
        <form id="join-team" action="/teams/{{ team.id }}/join" method="post">
          {{ govukButton({ text: "Join team" }) }}
        </form>
      {% elif isCurrentTeam %}
        {{ govukButton({ text: "Manage your team", href: "/teams/manage" }) }}
      {% endif %}

      {% if team.members.length %}
        {% set rows = [] %}
        {% for member in team.members %}
          {% set rows = (rows.push([{ text: member.displayName }]), rows) %}
        {% endfor %}
        {{ govukTable({ head: [{ text: "Member" }], rows: rows }) }}
      {% else %}
        <p class="govuk-body">This team does not have any members.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
