{% extends "layouts/main.njk" %}
{% set pageTitle = "Page not found - Move It" %}
{% block content %}
  <h1 class="govuk-heading-xl">Page not found</h1>
  <p class="govuk-body">If you typed the web address, check it is correct.</p>
  <p class="govuk-body"><a class="govuk-link" href="/">Go to the Move It homepage</a></p>
{% endblock %}
